
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: nos;
  }
  
  body {
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .main-header {
    padding: 10px;
    text-align: center;
    background: #fff;
    color: white;
    font-size: 30px;
  }
  
  .main-container {
    padding-top: 250px;
    padding-bottom: 200px;
    text-align: center;
    color: #fff;
    font-family: "Campuni Black";
    padding-top: 300px;
  
    h1 {
      font-size: 52px;
      font-family: "Campuni Black";
    }
    p {
      margin-top: 20px;
      font-size: 30px;
    }
  }
  
  .homepage {
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
  }
  
  .consumer-container {
    height: 240px;
    background-color: #fff;
    width: 200px;
    padding: auto;
  }
  
  .option-container {
    padding: 50px;
    position: relative;
    height: 200px;
    background-color: #fff;
    width: 400px;
  }
  
  .button {
    margin-top: 25px;
    padding-top: 15px;
    height: 60px;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
  }
  